/* img{
  length: 1000px;
  width: 1000px;
}
body{
  background-color: orange;
}
table, th, td {
    border: 1px solid black;
} */


body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
